<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/icon.png">
    <title>Rivergram - Cadastrar</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
    <section class="form-section">
    <div class="container-login">
        <div>
            <h1 class="create-user">Crie a sua conta agora mesmo!
                <img class="icon" src="/assets/img/icon.png" alt="logo">
            </h1>
            <form class="form-wrapper" id="formulario-cadastro">
                <div class="input-block">
                    <input type="text" name="nome" id="nome" placeholder="Digite o seu nome" required="required">
                </div>
                <div class="input-block">
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                </div>
                <div class="input-block">
                    <input type="text" name="nick" id="nick" placeholder="Digite o seu nick" required="required">
                </div>
                <div class="input-block">
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                </div>
                <div class="input-block">
                    <input type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme a sua senha"
                        required="required">
                </div>

                    <button class="btn-login-2 btn-login-1 btn-login">
                        <a href="/login"> Voltar para a tela de login </a>
                    </button>
                    <button type="submit" class="btn-login-2">Cadastrar</button>
               
            </form>
        </div>
    </div>
    </section>
    <ul class="squares">
        <li></li>
    </ul>
    {{ template "scripts" }}
    <script src="/assets/js/cadastro.js"></script>
</body>

</html>