<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;600;800;900&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/icon.png">
    <title>Rivergram - Login</title>

    
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
    <section class="form-section">
    <div class="container-login">
        <div>
            <h1>Rivergram
                <img class="icon" src="/assets/img/icon.png" alt="logo">
            </h1>
            <form class="form-wrapper" id="login">
                <div class="input-block">
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                </div>
                <div class="input-block">
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                </div>
                <div class="button-login">
                    <button type="submit" class="btn-login-1 btn-login">Login</button>
                    <button class="btn-login-2">
                            <a href="/criar-usuario">Criar conta</a>
                    </button>    
                </div>
            </form>
        </div>
    </div>
    </section> 
    
    <ul class="squares">
        <li></li>
    </ul>
    {{ template "scripts" }}
    <script src="/assets/js/login.js"></script>
</body>

</html>